%p
hello, #{@spotify_user.email}

%p
= link_to 'logout', '/logout'

%p
= link_to 'create a random playlist', '/create_playlist', method: :post

%p
these are your playlists:
- @spotify_user.playlists.each do |playlist|
  %p
  = playlist.name
  - playlist.tracks.each do |track|
    %p
    = track.name
    %br/
    - track.artists.each do |artist|
      by
      = artist.name
    %br/
    = link_to 'listen', track.external_urls.values.first
