%p

= form_tag '', method: :get do
  search for playlist by Spotify
  = text_field_tag 'q'
  = submit_tag 'go'

%p
- playlist = @spotify_frozen_playlist || @spotify_playlist
- if playlist
  = playlist.name
  %br/
  = link_to "#{@spotify_frozen_playlist ? 'update' : 'create'} my playlist", freeze_path(id: @spotify_playlist.id)

  %p
  - playlist.tracks.each do |track|
    = track.name
    %br/
- elsif params[:q]
  not found
