%p
my playlists
%p
- @user.frozen_playlists.each do |frozen_playlist|
  = link_to frozen_playlist.name, my_playlist_path(id: frozen_playlist.playlist_id)
  %br/

%p
= form_tag '', method: :get do
  search for playlist by Spotify
  = text_field_tag 'q'
  = submit_tag 'go'

%p
- playlist = @spotify_frozen_playlist || @spotify_playlist
- if playlist
  = playlist.name
  %br/
  = link_to "#{@spotify_frozen_playlist ? 'update' : 'create'} my playlist", freeze_path(id: @spotify_playlist.id)

  %p
  - playlist.tracks.each do |track|
    #{track.name} (#{track.artists.first.name})
    %br/

  %p
  - if @spotify_frozen_playlist
    - frozen_ids = @spotify_frozen_playlist.tracks.map(&:id)
    - missing = @spotify_playlist.tracks.reject{|t| t.id.in?(frozen_ids)}
    - if missing.present?
      songs from spotify playlist not in your playlist:
      - missing.each do |missing_track|
        %br/
        #{missing_track.name} (#{missing_track.artists.first.name})
- elsif params[:q]
  not found
