%p
= @album.name
%br/
= @album.year
%br/
= link_to @album.artist.name, "/show_artist/#{@album.artist.id}"
%br/
- if @album.image
  = image_tag @album.image, width: 100

%p
- @album.tracks.each do |track|
  %p
  = track.name
  - if track.audio_features
    %br/
    #{track.duration}s
    #{track.tempo}bpm
    #{track.time}/4
    %br/
    #{track.key} #{track.mode.titleize}
    - if track.acoustic
      acoustic
