%p
= link_to "<", '/'
%br/
= @artist.name
%p
Genres:
- @artist.genres.each do |genre|
  %br/
  = genre.name

%p
Albums:
- @artist.albums.order(:year).each do |album|
  %br/
  = link_to "#{album.name} (#{album.year})", "/show_album/#{album.id}"
