%p
= link_to "<", '/'
%br/
= @artist.name
%p
Genres:
- @artist.genres.each do |genre|
  %br/
  = genre.name

%p
Albums:
- @user.albums.where(artist_id: @artist.id).order(:year).each do |album|
  %br/
  = link_to "#{album.name} (#{album.year})", "/album/#{album.id}"
